
body {
	font-family: Helvetica, Arial, Verdana, sans-serif;
}

footer {
	margin-top: 2em;
}

/* ------------------------------
Common
------------------------------ */
.table-align-middle td,
.table-align-middle th {
	vertical-align: middle !important;
}

/* ------------------------------
Transaction Page
------------------------------ */
.sell-price {
	color: #00cc00;
	text-align: right;
}
.buy-price {
	color: #cc0000;
	text-align: right;
}
.quantity {
	text-align: right;
}


